In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [3]:
df = pd.read_csv('covid_19_data.csv')

In [4]:
df.head

<bound method NDFrame.head of        SNo ObservationDate                Province/State  \
0        1       1/22/2020                         Anhui
1        2       1/22/2020                       Beijing
2        3       1/22/2020                     Chongqing
3        4       1/22/2020                        Fujian
4        5       1/22/2020                         Gansu
...    ...             ...                           ...
6157  6158       3/16/2020                Cayman Islands
6158  6159       3/16/2020                     Gibraltar
6159  6160       3/16/2020  Diamond Princess cruise ship
6160  6161       3/16/2020                 West Virginia
6161  6162       3/16/2020                           NaN

                      Country/Region          Last Update  Confirmed  Deaths  \
0                     Mainland China      1/22/2020 17:00          1       0
1                     Mainland China      1/22/2020 17:00         14       0
2                     Mainland China      1/22/2020 17:00          6       0
3                     Mainland China      1/22/2020 17:00          1       0
4                     Mainland China      1/22/2020 17:00          0       0
...                              ...                  ...        ...     ...
6157                              UK  2020-03-16T14:53:04          1       1
6158                              UK  2020-03-14T16:33:03          1       0
6159                       Australia  2020-03-14T02:33:04          0       0
6160                              US  2020-03-10T02:33:04          0       0
6161  occupied Palestinian territory  2020-03-11T20:53:02          0       0

      Recovered
0             0
1             0
2             0
3             0
4             0
...         ...
6157          0
6158          1
6159          0
6160          0
6161          0

[6162 rows x 8 columns]>

In [7]:
df.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,1/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,1/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,1/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,1/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,1/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0
5,6,1/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26,0,0
6,7,1/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2,0,0
7,8,1/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1,0,0
8,9,1/22/2020,Hainan,Mainland China,1/22/2020 17:00,4,0,0
9,10,1/22/2020,Hebei,Mainland China,1/22/2020 17:00,1,0,0

In [9]:
df.drop(['SNo' ,'Last Update'], axis = 1, inplace = True)

In [10]:
df

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
0,1/22/2020,Anhui,Mainland China,1,0,0
1,1/22/2020,Beijing,Mainland China,14,0,0
2,1/22/2020,Chongqing,Mainland China,6,0,0
3,1/22/2020,Fujian,Mainland China,1,0,0
4,1/22/2020,Gansu,Mainland China,0,0,0
...,...,...,...,...,...,...
6157,3/16/2020,Cayman Islands,UK,1,1,0
6158,3/16/2020,Gibraltar,UK,1,0,1
6159,3/16/2020,Diamond Princess cruise ship,Australia,0,0,0
6160,3/16/2020,West Virginia,US,0,0,0
6161,3/16/2020,NaN,occupied Palestinian territory,0,0,0

In [11]:
df.rename(columns={'ObservationDate':'Date' , 'Province/State' :'State' , 'Country/Region':'Region'} , inplace=True)

In [12]:
df.head()

        Date      State          Region  Confirmed  Deaths  Recovered
0  1/22/2020      Anhui  Mainland China          1       0          0
1  1/22/2020    Beijing  Mainland China         14       0          0
2  1/22/2020  Chongqing  Mainland China          6       0          0
3  1/22/2020     Fujian  Mainland China          1       0          0
4  1/22/2020      Gansu  Mainland China          0       0          0

In [15]:
df['Date'] = pd.to_datetime(df['Date'])

In [16]:
df.head()

,Date,State,Region,Confirmed,Deaths,Recovered,date
0,2020-01-22,Anhui,Mainland China,1,0,0,2020-01-22
1,2020-01-22,Beijing,Mainland China,14,0,0,2020-01-22
2,2020-01-22,Chongqing,Mainland China,6,0,0,2020-01-22
3,2020-01-22,Fujian,Mainland China,1,0,0,2020-01-22
4,2020-01-22,Gansu,Mainland China,0,0,0,2020-01-22